/*selector universal "*"*/
*{
    padding: 0px; 
    margin: 0px auto;
    font-family: sans-serif;
}

/*1)ESTILOS SECCIONES FIJAS*/

/*Footer fijo */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header, footer, main{
    margin:0px;
}

/*a) Estilos barra navegación*/
nav{
    background-color:rgba(27, 31, 119, 0.95);
    position: fixed;
    z-index: 100;
    padding: 0px 100px;
    top: 0px;
}

#logo{ 
    height: 60px;   
    padding-top: 10px;      
}

/*b) Estilos de Footer*/
footer{
    background-color:rgba(27, 31, 119, 0.95);
    padding: 0px 100px;
    height: 40px;  
}

footer p{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: left;    
}

/*2)ESTILOS SECCIONES DINÁMICAS*/

/*a)Página de inicio*/

main #welcomeimage{
    position: relative;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 450px;
    opacity: 0.8;  
    background-image: url(Image/welcomeimage.jpg)
}

main section h2{   
    margin-top:0px;
    padding-top:150px; 
    font-weight: bold;   
    font-size: 36px;
    text-align: center;      
    color: #FFFFFF;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1); 
}

main section h3{     
    font-size: 28px;
    text-align: center;     
    color: #FFFFFF;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);      
}

#btnstart{
    width: 190px;
    height: 45px;
    margin: 30px 100px;
    background: rgba(77, 77, 77, 0.8);
    border: 1px solid rgba(77, 77, 77, 0.8) ;  
    color: white;
    font-size: 18px;  
    cursor: pointer;
}

#btnstart:hover{
    background: rgba(27, 31, 119);
    border: 1px solid rgba(27, 31, 119);     
    font-weight: bold;  
   
}

/*b)Página tutorial*/



#onetutorial{   
    padding: 10px 100px;
    background-color: rgba(27, 31, 119, 0.95);
    height: 600px;    
}

#onetutorial h2{
    margin:0px;
    font-size:34px;
    color:white;
    padding-top: 120px;
    text-align: left; 
    padding-left:10px;
}

#onetutorial article h4{
    padding-top: 80px;
    font-size:22px;
    color:white;   
    padding-right: 20px;
}

#goldpokeball{
    text-align: center;
    
}
#goldpokeball img{
    height: 300px;
    width: 300px;  
    
}

#twotutorial{   
    padding: 0px 100px;
    height: 360px;    
}

#twotutorial h2{
    padding-top:20px;
    font-size:34px;
    color:#212F3C;
    text-align: left; 
    padding-left:10px;
}

#twotutorial article h4{
    margin-top:60px;
    font-size:22px;
    color:#212F3C;
    padding-right: 20px;     
}

#startedpokemon{
    height: 300px;
    width: 550px;
}

#threetutorial{   
    padding: 0px 100px;     
    background-color: #F4F6F7;
    height: 400px;
    margin-bottom: 0px;
}

#threetutorial h2{
    padding-top:50px;
    font-size:34px;
    color:#212F3C;
    text-align: left; 
    padding-left:10px;
}

#threetutorial article h4{
    color:#212F3C;
    font-size:18px;
}

#threetutorial article ul li {
    font-size:18px;
    color:#212F3C;  
}


/*Pagina de búsqueda*/

main #searchview{
    padding-top:80px;
}

#sectionfilter{
    padding-top:30px;
    padding-left: 100px;
    
}

#pokemonresult{
    overflow-y: scroll;
    height: 80vh;
    padding: 0px 100px;
    
}

#pokemonbox{
    padding-top:20px;
    text-align: center;
    border:white 20px solid;
    border-radius: 30px;
    background-color: #F4F6F7;   
    
    
}
#pokemonbox img{
    text-align: center;
    height: 120px;
    width: 120px;  
}

#pokemonbox{
    font-size:18px;
    color:#212F3C;   
}

.collapsible-header{
    font-size:18px;
    color:#212F3C;
}

.collapsible-body label{
    font-size:16px;
    
}

.browser-default {
    font-size:16px;
    color:#212F3C;
}

/*Responsivo*/
/*a) Responsivo html fijo */

@media (max-width: 992px){
    
    nav{
        height: 180px;
    }

    #logo{ 
        height: 130px;   
        display: block; 
        margin-top: 20px; 
    }

    nav i.material-icons{
        font-size:100px;
        margin-top: 65px;
    }

    .sidenav li a{
        font-size:26px;
        margin-top:20px;     
    }

      
}

/*b) Responsivo html dinámico página de inicio */

@media (max-width: 992px){
    
    main #welcomeimage{
        height: 1200px;
    }   
    
    #welcomeimage h2 {          
        padding-top:450px;          
        font-size: 60px;
           
    }

    #welcomeimage h3{
        padding-top:50px;          
        font-size: 48px;

    }

    #btnstart{
        width: 380px;
        height: 90px;
        font-size: 48px;  
        margin-top:50px;
    }
}

/*Tutorial*/


@media (max-width: 992px){
    main section h2{
        font-size: 24px;
    }

    main section h3{        
        font-size: 20px;
           
    }
}

/*Responsivo Página búsqueda*/
@media (max-width: 992px){

    #pokemonresult{
        overflow-y: visible;
        height: auto;
    }
   
    .sectionfilter{
        position: fixed;
        background-color: white;
    }
    
}


