/*selector universal "*"*/
*{
    padding: 0px; 
    margin: 0px auto;
    font-family: sans-serif;
}

/*1)ESTILOS SECCIONES FIJAS*/

/*Footer fijo */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header, footer, main{
    margin:0px;
}

/*a) Estilos barra navegación*/
nav{
    background-color:rgba(27, 31, 119, 0.95);
    position: fixed;
    z-index: 100;
    padding: 0px 100px;
    top: 0px;
}

#logo{ 
    height: 60px;   
    padding-top: 10px;      
}

/*b) Estilos de Footer*/
footer{
    background-color:rgba(27, 31, 119, 0.95);
    padding: 0px 100px;
    height: 80px;  
}

footer p{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: left;    
}

/*2)ESTILOS SECCIONES DINÁMICAS*/

/*a)Página de inicio*/

main #welcomeimage{
    position: relative;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 450px;
    opacity: 0.8;  
    background-image: url(Image/welcomeimage.jpg)
}

#welcomeimage h2{   
    margin-top:0px;
    padding-top:150px; 
    font-weight: bold;   
    font-size: 36px;
    text-align: center;      
    color: #FFFFFF;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1); 
}

#welcomeimage h3{     
    font-size: 28px;
    text-align: center;     
    color: #FFFFFF;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);      
}

#btnstart{
    width: 190px;
    height: 45px;
    margin: 30px 100px;
    background: rgba(77, 77, 77, 0.8);
    border: 1px solid rgba(77, 77, 77, 0.8) ;  
    color: white;
    font-size: 18px;  
    cursor: pointer;
}

#btnstart:hover{
    background: rgba(27, 31, 119);
    border: 1px solid rgba(27, 31, 119);     
    font-weight: bold;  
   
}

/*b)Página tutorial*/

#onetutorial{   
    padding: 10px 100px;
    background-color: rgba(27, 31, 119, 0.95);
    height: 600px;    
}

#onetutorial h3{
    margin:0px;
    font-size:34px;
    color:white;
    padding-top: 120px;
    text-align: left; 
    padding-left:10px;
}

#onetutorial article h4{
    padding-top: 80px;
    font-size:22px;
    color:white;   
    padding-right: 20px;
}

#goldpokeball{
    text-align: center;
    
}
#goldpokeball img{
    height: 300px;
    width: 300px;  
    
}

#twotutorial{   
    padding: 0px 100px;
    height: 360px;    
}

#twotutorial h3{
    padding-top:20px;
    font-size:34px;
    color:#212F3C;
    text-align: left; 
    padding-left:10px;
}

#twotutorial article h4{
    margin-top:60px;
    font-size:22px;
    color:#212F3C;
    padding-right: 20px;     
}

#startedpokemon{
    height: 300px;
    width: 550px;
}

#threetutorial{   
    padding: 0px 100px;     
    background-color: #F4F6F7;
    height: 400px;
    margin-bottom: 0px;
}

#threetutorial h3{
    padding-top:50px;
    font-size:34px;
    color:#212F3C;
    text-align: left; 
    padding-left:10px;
}

#threetutorial article h4{
    color:#212F3C;
    font-size:18px;
}

#threetutorial article ul li {
    font-size:18px;
    color:#212F3C;  
}


/*Pagina de búsqueda*/
main #searchview{
    padding-top:60px;
    color:#212F3C;  
}

#searchview h3{
    font-size:34px;  
    margin-left:100px;
    color:#212F3C;  
}

#sectionfilter h5{
    font-size:18px;   
    color:#212F3C;
    margin-top: 5px;       
}

#resulttitle{
    font-size:22px;
    color:#212F3C;
    margin-top:5px;
}

#sectionfilter{
    padding-left: 100px;    
}

#pokemonresult{
    overflow-y: scroll;
    height: 80vh;
    padding: 0px 100px; 
}

#pokemonresult h3{
    margin-left:20px; 
    text-align: center;
    margin-top:-7px; 
}

#pokemonresult h5{
    margin-left:20px; 
    text-align: center;
} 

#pokemonbox{
    padding-top:20px;
    text-align: center;
    border:white 20px solid;
    border-radius: 30px;
    background-color: #F4F6F7;   
}

#pokemonbox img{
    text-align: center;
    height: 120px;
    width: 120px;  
}

#pokemonbox a{
    font-size:18px;
    color:#212F3C;   
}

.collapsible-header{
    font-size:18px;
    color:#212F3C;
}

.collapsible-body label{
    font-size:16px;
    
}

.browser-default {
    font-size:16px;
    color:#212F3C;
}

/*Modal*/

.modal .modal-footer{
    height: 0px;
}

.modal{
    height: 700px;
    width: 500px;
    overflow: hidden;
    max-height: 100%;
    background-color: white;
}
.modal.open{
    border-radius: 20px;
}

.elementtitle{
    font-size:16px;
    color:#212F3C;
    padding-top: 10px;
}

.elementdata{
    font-size:20px;
    color:#212F3C;
    padding-bottom: 10px;
}

.btnevolutions{
    width: 100px;
    height: 45px;
    background: rgba(77, 77, 77, 0.8);
    border: 1px solid rgba(77, 77, 77, 0.8) ;  
    color: white;
    font-size: 18px;  
    cursor: pointer;
}

/*Responsivo*/
/*a) Responsivo html fijo */

@media (max-width: 992px){
    
    nav{
        height: 180px;
    }

    #logo{ 
        height: 130px;   
        display: block; 
        margin-top: 20px; 
    }

    nav i.material-icons{
        font-size:100px;
        margin-top: 65px;
    }

    .sidenav{
        width: 700px;
    }
    .sidenav li a{
        font-size:40px;
        margin-top:50px;     
    }

    footer{
        padding: 0px 100px;
        height: 100px;  
    }    

    footer p{
        padding-top: 10px;
        font-size: 26px;
        text-align: left;    
    }
      
}

/*b) Responsivo html dinámico página de inicio */

@media (max-width: 992px){
    
    main #welcomeimage{
        height: 1400px;
    }   
    
    #welcomeimage h2 {          
        padding-top:500px;          
        font-size: 64px;   
        line-height:100px;        
    }

    #welcomeimage h3{
        padding-top:50px;          
        font-size: 48px;

    }

    #btnstart{
        width: 380px;
        height: 90px;
        font-size: 48px;  
        margin-top:50px;
    }
}

/*Responsivo página ¿Qué es PokeChoose?*/
@media (max-width: 992px){
    
    #onetutorial{   
        padding: 10px 100px;
        height: 1250px;    
    }


    #onetutorial h3{
        font-size:58px;
        padding-top: 240px;
        line-height:80px;
        font-weight: bold;
    }

    #onetutorial article h4{
        padding-top: 20px;
        font-size:48px;
        text-align:left;
        line-height:70px;
    }

    #goldpokeball img{
        height: 400px;
        width: 400px; 
        padding-top:10px; 
    }  
    
    #twotutorial{   
        padding: 10px 100px;
        height: 920px; 
    }

    #twotutorial h3{
        padding-top:20px;
        font-size:58px;
        line-height:80px;
        font-weight: bold;
    }

    #twotutorial article h4{
        margin-top:20px;
        font-size:48px;
        text-align:left;     
        line-height:70px;
    }

    #startedpokemon{
        height: 300px;
        width: 650px;
        margin-left:80px;  
    }

    #threetutorial {
        padding: 10px 100px;     
        height: 1600px;
    }

    #threetutorial h3{
        padding-top:60px;
        font-size:58px;
        line-height:80px;
        font-weight: bold;
    }

    #threetutorial article h4{
        font-size:48px;
        text-align:left;
        line-height:70px; 
    }

    #threetutorial article ul li {
        font-size:48px;
        text-align:left;
        line-height:70px;        
    }
}

/*Responsivo Página búsqueda*/
@media (max-width: 992px){

    main #searchview{
        padding-top:180px;
         
    }

    #searchview h3{
       position: fixed;
       z-index: 100;
      
    }
    
    #sectionfilter{
        position: fixed;
        padding-left:120px;
        padding-right:120px;
        padding-top: 100px;
        background-color: white;
  
    }
    

    #sectionfilter h5{
        position: fixed;
        display: none;   
     
    }
    
    .collapsible-header{
        font-size:28px;
    }
    
    .collapsible-body label{
        font-size:26px;  
    }

    #pokemonresult{
        overflow-y: visible;
        height: auto;
        padding-top: 300px;
    }

    #pokemonresult h3{
        margin-top:240px; 
    }
    
    #pokemonresult h5{
        text-align: center;      
    } 

    #pokemonbox{     
        height:400px;
        width:400px;
    } 

    #pokemonbox img{
        text-align: center;
        height: 220px;
        width: 220px;  
    }

    #pokemonbox h6{
        font-size:30px;
    }
    
}






